body{
	background-image:url("8.jpg");
	position:absolute;
	width:100%;
	background-size:100%;
}

h1{
	
	font-size:60px;
	text-align:center;
	color:white;
}

h2{
	font-size:30px;
	text-align:center;
	color:white;
}

a{
text-decoration:none;
}

.title a{
color:white;
}

.one{
font-family:Arial;
font-size:20px;
color:white;
padding:1px;
}

.p1{
font-family:Arial;
font-size:20px;
}


ul { list-style-type: none; padding: 0; margin: 0;}


li {display: inline-block;}
li a { display: inline-block;padding:10px; font-size:20px; color:white;} 
li a:hover {background-color:black;}
li a:link{color:red;}

li :a.visited{color:yellow;}

img{height:320px;width:480px;}

 #map {height: 300px;width: 300px;}

.ctable{border:10px solid #555;padding:20px;}

.ctable.th{padding:100px;}

.droplinks{position:fixed;background-color:black;
min-width:140px;display:none;padding: 0px;}

.droplinks a{padding: 10px;display:block;}

.dropbutton:hover .droplinks{display:block;}

.vaishpara{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.special{
font-size:30px;
	text-align:center;
	color:yellow;
}
